In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt, rcParams
import seaborn as sns
rcParams['figure.figsize'] = 11,10

link = '../Datasets/unPCA_data.csv'

In [2]:
df = pd.read_csv(link)

In [5]:
df.columns = colu

In [4]:
columns = ['Transaction_id', 'Balance', 'Amount', 'Cvv', 'Number_of_items', 'Bank_id', 'Mechant_Code', 'PC7', 'Account_Number',
       'Card_Number', 'Time', 'Asv', 'PC12', 'PC13', 'PC14', 'PC15', 'PC16', 'PC17',
       'PC18', 'Class']

In [6]:
df.head()

,Transaction_id,Balance,Amount,Cvv,Number_of_items,Bank_id,Mechant_Code,PC7,Account_Number,Card_Number,Time,Asv,PC12,PC13,PC14,PC15,PC16,PC17,PC18,Class
0,0,-5.221450,-0.282993,-2.325171,0.336731,1.175352,0.627345,1.651493,0.769026,-0.408388,-0.153905,0.464682,0.731821,-1.366560,0.623888,0.246242,0.130555,-0.252484,0.255071,0
1,1,-5.194667,-0.137556,-0.823326,-0.619209,-0.265349,-1.002875,0.107806,0.806539,1.711428,0.050859,0.002961,-0.286304,-0.369915,0.128719,0.074068,-0.326583,-0.334120,0.233239,0
2,2,-5.887422,1.442774,2.647117,0.942626,-0.465722,-0.200738,0.197844,0.005203,-0.124002,-0.174634,-0.666763,0.376118,0.724920,-0.548854,-0.129177,-0.217286,-0.030586,-0.195425,0
3,3,-5.201025,-1.167545,-0.734201,-0.427930,-0.687691,0.637109,-0.607841,0.015695,-0.357413,-1.062468,-0.965042,0.735313,0.287974,0.341925,-0.022637,0.097039,-0.370890,-0.113698,0
4,4,-4.821635,1.352308,2.583916,0.003548,0.546032,-1.585428,1.057875,1.447790,0.827919,0.116987,-0.203904,-1.594778,0.875779,-0.597070,0.173169,0.402616,0.712372,-0.635308,0